*.attr
*.exe
*.log
*.old
*.swp
*.test
.envrc
.gotools
.netlify
.vagrant/
.vscode
/pkg
bin/
changelog.tmp
exit-code
Thumbs.db

any-get

# MacOS
.DS_Store
.AppleDouble
.LSOverride
.fseventsd
.idea/
.vscode/
tmp/